/* Settings for all buttons */
.btn-custom {
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    background-color: #FFA500!important;
    border-color: #FFA500!important;
}


.operator-btn{
  margin: 5px;

}
.daily-player-body, .practice-body, .single-player-body {

  background-color: #3CE1F7!important;  
}

.home-body,.login-body,.profile-body,.signup-body {
  background-color: #3CE1F7!important; 
}

/*Home*/
.home-button-box{
  border: 2px solid #000;
  padding: 20px;
  margin: auto; 
  width: 50%; 
  background-color: white; 
  position: relative;
}

.home-boat-image {
  position: absolute;
  top: -60px; /* Adjust this value to position the boat vertically */
  left: 50%; /* Center the boat horizontally */
  transform: translateX(-50%); /* Center the boat horizontally */
  width: 120px; /* Set the width of the boat */
  height: auto; /* Maintain the aspect ratio */
}

/*Index*/


/*Settings for all buttons*/






/*Practice Mode; Single Player */

.practice-body,.single-player-body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  padding: 20px;
  margin: 0;
  color: #333;
}

.practice-game-stats {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  /* Display stats in a single column */
  align-items: flex-start;
  /* Align stats to the left */
  margin-bottom: 20px;
}

.practice-game-stats div{
  background: white;
  padding: 15px;
  border-radius: 5px;
  margin-bottom: 10px;
  /* Add margin between stats */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  flex: 1;
  margin: 0 10px; 
}

.practice-math-puzzle {
  font-size: 24px;
  margin: 20px 0;
  background: white;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.practice-sailboats{
  margin: 20px 0;
}

/* Practice; Single player*/
.correct-status {
  color: orange;
  font-size: 28px;
  font-weight: bold;
  margin: 20px auto;
  /* Center horizontally */
  margin-left: 10px;
  border: 3px solid orange;
  /* Add border */
  padding: 5px 10px;
  /* Add padding for space */
  border-radius: 5px;
  /* Add border radius */
  display: inline-block;
  /* Display as inline-block to adjust width to content */
  width: auto;
}

/* Practice; Single player*/
.submit-button, .quit-button {
  display: block;
  padding: 10px 20px;
  font-size: 20px;
  border-radius: 5px;
  background-color: orange;
  color: #fff;
  margin: 20px auto;
  cursor: pointer;
  transition: background-color 0.3s ease;
   
}

.submit-button:hover,
    .quit-button:hover {
      background-color: orange;
    }

.symbol-box {
  border: 2px solid #fff;
  padding: 10px;
  margin: 0 5px;
  border-radius: 5px;
  font-size: 24px;
  background-color: #fff;
  display: inline-flex;
  /* Display as inline-block to stay in one line */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 80px;
  height: 60px;
  justify-content: center;
  align-items: center;
    }


/* Practice; Single player */
.centered-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
    }


/* Practice; Single player */
.form-inline {
  display: flex;
  align-items: center;
}
.practice-single-player {
  border: none;
  height: 2px;
  background-color: black;
  margin: 20px 0;
}

#userInput {
  display: block;
  margin: 20px auto;
  height: 40px;
  font-size: 1.5em;
  width: 50%;
  border-radius: 5px;
  border: 1px solid #ccc;
  padding: 0 10px;
  margin-right: 10px;

}

/* Profile */
.profile-container{
  margin-top: 20px;
  margin-bottom: 20px;
}
.profile-box{
  background-color: #ffffff;
  /* white */
  padding: 10px;
  margin-bottom: 20px;
  border-radius: 5px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.user-stats-container {
  margin-bottom: 10px;
}
.additional-info-container {
  margin-bottom: 10px;
}

/* Quests level */




/* Quests task */

.btn-home, .btn-next {
width: 150px;
}